<meta th:replace="fragments/base_html_top.html">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="cb-upper">Upper</label>
                    <input checked id="cb-upper" type="checkbox" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cb-lower">Lower</label>
                    <input checked id="cb-lower" type="checkbox" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cb-number">Number</label>
                    <input checked id="cb-number" type="checkbox" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cb-special">Special</label>
                    <input checked id="cb-special" type="checkbox" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="password-size">Size</label>
                    <input id="password-size" type="number" value="32" class="form-control">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="w-100">
            <textarea disabled id="password-output" class="form-control">
            </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button onclick="password();" type="button" class="btn btn-primary m-1">
                    Generate
                </button>
            </div>
            <div class="col">

                <button type="button" onclick="copy();" class="btn btn-secondary m-1">
                    Copy
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <article>
            <h1>PASSWORD</h1>
            <p>This tool run only on your browser, no network activity, and also works offline !</p>
            <p>No leaks of your privacy and security!</p>
        </article>
    </div>
</div>

<script src="js/common.js"></script>
<script src="js/password.js"></script>
<script>
    async function password(){
        const outputField = byId('password-output');
        const cbUpperField = byId('cb-upper');
        const cbLowerField = byId('cb-lower');
        const cbNumberField = byId('cb-number');
        const cbSpecialField = byId('cb-special');

        const passwordSizeField = byId('password-size');

        outputField.value = await generatePass(cbUpperField.checked, cbLowerField.checked, cbNumberField.checked, cbSpecialField.checked, parseInt(passwordSizeField.value));
    }

    async function copy(){
        const passwordField = byId('password-output');

        if(passwordField.value){
            await navigator.clipboard.writeText(passwordField.value);
            alert('Copy ok');
        }
    }


</script>


<meta th:replace="fragments/base_html_bottom.html">